/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header,
section,
aside,
nav,
footer {
  padding: 20px;
}

/* header and footer */

header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
@font-face {
  font-family: "myfont-1";
  src: url("./fonts/Yuji_Mai/YujiMai-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "myfont-2";
  src: url("./fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-ExtraBold.ttf")
    format("truetype");
  /* src: url("./fonts/Noto_Sans_JP/NotoSansJP-Bold.otf") format("opentype");
  src: url("./fonts/Noto_Sans_JP/NotoSansJP-Light.otf") format("opentype");
  src: url("./fonts/Noto_Sans_JP/NotoSansJP-Medium.otf") format("opentype");
  src: url("./fonts/Noto_Sans_JP/NotoSansJP-Regular.otf") format("opentype");
  src: url("./fonts/Noto_Sans_JP/NotoSansJP-Thin.otf") format("opentype"); */
}

h1,
h2 {
  font-family: "myfont-2";
  letter-spacing: 0.2rem;
}

header h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
}
/* 上にbodyあるが一旦追記 */
body {
  font-family: "myfont-1";
  font-size: 10px;
}

section p,
section ul li,
section ol li {
  line-height: 1rem;
  letter-spacing: 0.1rem;
}

/* 隣接セレクタ */
h2 + p {
  text-indent: 20px;
}

a:visited,
a:hover,
a:focus {
  color: #ab6666;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:focus {
  outline: none;
}
/* a:focus-visible {
  outline: solid;
} */

/* 外部リンクのみアイコン付与 (属性セレクター)*/
a[href^="http"]::after {
  content: "";
  display: inline-block;
  background-image: url("/external-link-52.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  margin-left: 2px;
}

ol li {
  /* list-style-type: "\1F44D"; */
  list-style-type: lower-alpha;
}

/* ナビゲーション */
nav {
  height: 500px;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 200px;
}
nav ul li {
  border: #a66 solid;
  list-style: none;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

nav ul li a {
  text-decoration: none;
}
